@import url("../css/font-style.css");

:root {
    font-family: 'Segoe Pro Regular';
    font-weight: normal;
}


.research-section {
    background: #fafaf7 !important;
    max-width: 100rem;
    /* 960px */
    margin: 0 auto;
    padding: 2rem;
    /* 32px */
    --research-section-header-font-family: 'Segoe Pro Bold';
}

.research-section h3 {
    font-size: 2rem;
    /* 30px */
    font-weight: bold;
    margin-bottom: 1rem;
    /* 16px */
    font-family: var(--research-section-header-font-family);
}

.research-section h4 {
    font-size: 1.67rem;
    /* 24px */
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* 8px */
    font-family: var(--research-section-header-font-family);
}

.research-section p {
    font-size: 1.1rem;
    /* 16px */
    line-height: 1.5;
    /* 24px */
    margin-bottom: 1rem;
    /* 16px */
    --research-section-font-family: 'Segoe Pro Regular';
    font-family: var(--research-section-font-family);
    font-weight: normal;
}

.research-section img {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
    /* Center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 16px */
}

th[colspan="2"] {
    color: #787878; /* 保持前景色 */
    background-color: #333333; /* 例子: 更改为更浅的黑色 */
}

#orderbook {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section-order-book {
    width: 40%;
}

.section-order-book table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe Pro Display Semibold';
}

.section-order-book th,
.section-order-book td {
    /* border: 1px solid #ddd; */
    /* text-align: center; */
    padding: 8px;
}

.section-order-book th {
    font-weight: bold;
    /* background-color: #f4f4f4; */
}


#orderbook .bid-level {
    color: #318055;
    /* 为买单设置绿色字体 */
}

#orderbook .ask-level {
    /* color: #bd454c; */
    color: #c4474d;
    /* 为卖单设置红色字体 */
}

#orderbook .price-col {
    text-align: left;
}

#orderbook .volume-col {
    text-align: right;
}



#orderbook1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#asks {
    background-color: #000000;
    color: #e72c32;
}

#bids {
    background-color: #03ae3f;
    color: #02361b;
}

#orderbook1 .bid-level {
    color: #01b134;
    background-color: #07361d;
    /* 为买单设置绿色字体 */
}

#orderbook1 .ask-level {
    /* color: #bd454c; */
    color: #e72c32;
    background-color: #000000;
    /* 为卖单设置红色字体 */
}

#orderbook1 .price-col {
    text-align: left;
}

#orderbook1 .volume-col {
    color: #757575;
    background-color: #000000;
    text-align: right;
}
